<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body>
    <div class="magic-cursor relative z-10">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div>
    <!--=====   Preloader  預先載入器 =============-->
    <div id="preloader-container"></div>

    <!--========  Sidemenu  =================== -->
    <div id="sidemenu"></div>

    <!--=======  Mobile Menu ================== -->
    <div id="mobile-menu"></div>

    <!--=======	Header Area ===============-->
    <div id="header"></div>

    <!--======= Team  Area ===============-->
    <div id="app">

        <router-view></router-view>
    </div>

    <script type="module">
        import { getProducts } from './js/shop.js';
        import { getProduct } from './js/shop.js';
        import { addTocart } from './js/shop.js';
        import lodash from 'https://cdn.jsdelivr.net/npm/lodash@4.17.21/+esm'
        import { updateCart } from './js/shop.js'
        import { totalUpdate } from './js/shop.js'
        import { insertOrder } from './js/shop.js'
        window.accessControl = Vue.reactive({
            canAccessCheckout: false
        });
        const prod_view = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Shops</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li>Shops</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="space-top space-extra-bottom">
                <div class="container">
                    <div class="row gy-40">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                                <div class="row gy-40">
                                    <div v-for="(item, index) in prod" :key="index" class="col-xl-3 col-sm-6">
                                        <div class="th-product product-grid">
                                            <div class="product-img">
                                                <img :src="item.img1" alt="Product Image">
                                                <div class="actions">
                                                    <router-link :to="{ name: 'prod_detail', params: { id: item.id } }">
                                                        <div class="icon-btn popup-content"><i class="far fa-eye"></i></div>
                                                    </router-link>
                                                    <div class="icon-btn" @click="addProd(item)"><i class="far fa-cart-plus"></i></div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <router-link :to="{ name: 'prod_detail', params: { id: item.id } }">{{ item.name }}</router-link>
                                                </h3>
                                                <span class="price">$ {{ item.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            `,
            data() {
                return {
                    prod: [],
                }
            },
            methods: {
                addProd(item) {
                    addTocart(item, 1, "existIncrease");
                },
            },
            async mounted() {
                try {
                    this.prod = await getProducts();
                } catch (error) {
                    console.log(error);
                }
            }
        };

        const prod_detail = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Product</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>Product</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="product-details space-top space-extra-bottom">
                <div class="container">
                    <div class="row gx-60">
                        <div class="col-lg-6">
                            <div class="product-big-img">
                                <div class="img"><img :src="prod.imgs[0]" alt="Product Image"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="product-about">
                                <p class="price">$ {{prod.price}}</p>
                                <h2 class="product-title">{{prod.name}}</h2>
                                <div class="actions">
                                    <div class="quantity">
                                        
                                        <input type="number" class="qty-input" :value="qty">
                                        <button class="quantity-plus qty-btn" @click="qtyIncrease"><i class="far fa-chevron-up"></i></button>
                                        <button class="quantity-minus qty-btn"@click="qtyDecrease" ><i class="far fa-chevron-down"></i></button>
                                    </div>
                                    <button class="th-btn" @click="updateCart">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            `,
            data() {
                return {
                    prod: {
                        id: 0,
                        name: "",
                        price: 0,
                        imgs: [],
                    },
                    qty: 1,

                }
            },
            methods: {
                qtyIncrease() {
                    this.qty < 99 ? this.qty++ : this.qty--;
                },
                qtyDecrease() {
                    this.qty > 1 ? this.qty-- : this.qty = 1;
                },
                updateCart() {
                    addTocart(this.prod, this.qty, "Increase");
                }
            },
            async mounted() {
                let prod = await getProduct(this.$route.params.id);
                this.prod.id = prod.id;
                this.prod.name = prod.name;
                this.prod.price = prod.price;
                this.prod.imgs = [prod.img1, prod.img2, prod.img3];
                const cart = JSON.parse(localStorage.getItem("cart"));
                this.qty = cart.find(obj => obj.id === this.prod.id).qty;
            },
        }
        const cart_view = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Cart</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="th-cart-wrapper" style="padding-top:40px">
                <div class="container">
                    <div class="woocommerce-notices-wrapper">
                        <div class="woocommerce-message">Shipping costs updated.</div>
                    </div>
                    <form class="woocommerce-cart-form">
                        <table class="cart_table">
                            <thead>
                                <tr>
                                    <th class="cart-col-image">圖片</th>
                                    <th class="cart-col-productname">商品名稱</th>
                                    <th class="cart-col-price">單價</th>
                                    <th class="cart-col-quantity">數量</th>
                                    <th class="cart-col-total">價格</th>
                                    <th class="cart-col-remove">移除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart item" v-for="(item,index) in cart" :key="index">
                                    <td data-title="Product">
                                        <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            <img width="91" height="91" :src="item.imgs" alt="Image">
                                        </router-link>
                                    </td>
                                        <td data-title="Name">
                                            <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            {{item.name}}
                                            </router-link>
                                        </td>
                                    <td data-title="Price">
                                        <span class="amount"><bdi><span>$</span>{{item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Quantity">
                                        <div class="quantity">
                                            <button class="quantity-minus qty-btn" @click="qtyDecrease(item)"><i class="far fa-minus"></i></button>
                                            <input type="number" class="qty-input" :value="item.qty">
                                            <button class="quantity-plus qty-btn" @click="qtyIncrease(item)"><i class="far fa-plus"></i></button>
                                        </div>
                                    </td>
                                    <td data-title="Total">
                                        <span class="amount"><bdi><span>$</span>{{item.qty * item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Remove">
                                        <i class="remove fal fa-trash-alt" @click="removeProd(item)"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="actions">
                                        <router-link to="/">
                                            <div class="th-btn">Continue Shopping</div>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <div class="row justify-content-end">
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <h2 class="h4 summary-title">Cart Totals</h2>
                            <table class="cart_totals">
                                <tfoot>
                                    <tr class="order-total">
                                        <td>Order Total</td>
                                        <td data-title="Total">
                                            <strong><span class="amount"><bdi><span>$</span>{{total}}</bdi></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                            <div class="wc-proceed-to-checkout mb-30">
                                <router-link to="" @click="proceedToCheckout()">
                                    <div class="th-btn">
                                        Proceed to checkout
                                    </div>
                                </router-link>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            `,
            data() {
                return {
                    cart: [],
                    total: 0
                }
            },
            methods: {
                qtyIncrease(item) {
                    item.qty < 99 ? item.qty++ : item.qty--;
                    this.total = totalUpdate(this.cart);
                },
                qtyDecrease(item) {
                    item.qty > 1 ? item.qty-- : item.qty = 1;
                    this.total = totalUpdate(this.cart);
                },
                removeProd(item) {
                    updateCart(item, "remove");
                    this.cart = JSON.parse(localStorage.getItem('cart'));
                    this.total = totalUpdate(this.cart);
                },
                proceedToCheckout() {


                    if (!lodash.isEmpty(localStorage.getItem('cart'))) {
                        localStorage.setItem('cart', JSON.stringify(this.cart));
                        window.accessControl.canAccessCheckout = true;
                        this.$router.push("/checkout");
                    } else {
                        alert('購物車是空的，請先添加商品。');
                    }
                }
            },
            mounted() {
                this.cart = JSON.parse(localStorage.getItem("cart"));
                console.log(this.cart);
                this.total = totalUpdate(this.cart);
            },
        };
        const chekcout = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Checkout</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>checkout</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="th-checkout-wrapper">
                <div class="container">
                    <div class="woocommerce-checkout mt-40">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="h4">會員資料</h2>
                                <div class="row">
                                    <div class="col-md-6 form-group has-label">
                                        <label>姓名</label>
                                        <input type="text" class="form-control" v-model="memb.name" readonly>
                                    </div>
                                    
                                    <div class="col-md-6 form-group has-label">
                                        <label>住址</label>
                                        <input type="text" class="form-control"  v-model="memb.shipaddr" readonly>
                                    </div>
                                    <div class="col-md-6 form-group has-label">
                                        <label>信箱</label>
                                        <input type="email" class="form-control" v-model="memb.email" readonly>
                                    </div>
                                    <div class="col-md-6 form-group has-label">
                                        <label>電話</label>
                                        <input type="text" class="form-control" v-model="memb.phone" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="h4 d-inline-block">收件人資料</h2>
                                <div class="form-check d-inline-block ml-3">
                                    <input class="form-check-input" type="checkbox" id="customCheckbox" v-model="checked">
                                    <label class="form-check-label" for="customCheckbox">同會員資料</label>
                                </div>
                                <div class="shipping_address">
                                    <div class="row">
                                        <div class="col-md-6 form-group has-label">
                                            <label>姓名</label>
                                            <input type="text" class="form-control" v-model="cust.name" placeholder="姓名" >
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>住址</label>
                                            <input type="text" class="form-control" v-model="cust.shipaddr" placeholder="收件地址">
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>信箱</label>
                                            <input type="email" class="form-control" v-model="cust.email" placeholder="Email">
                                        </div>
                                        <div class="col-md-6 form-group has-label">
                                            <label>電話</label>
                                            <input type="text" class="form-control" v-model="cust.phone" placeholder="電話">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-4 pt-lg-2">訂單</h4>
                    <form action="#" class="woocommerce-cart-form">
                        <table class="cart_table mb-20">
                            <thead>
                                <tr>
                                    <th class="cart-col-image">圖片</th>
                                    <th class="cart-col-productname">商品名稱</th>
                                    <th class="cart-col-price">單價</th>
                                    <th class="cart-col-quantity">數量</th>
                                    <th class="cart-col-total">價格</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart item" v-for="(item,index) in cart" :key="index">
                                    <td data-title="Product">
                                        <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                            <img width="91" height="91" :src="item.imgs" alt="Image">
                                        </router-link>
                                    </td>
                                    <td data-title="Name">
                                        <router-link :to="{ name: 'prod_detail', params: { id: item.id }}">
                                        {{item.name}}
                                        </router-link>
                                    </td>
                                    <td data-title="Price">
                                        <span class="amount"><bdi><span>$</span>{{item.price}}</bdi></span>
                                    </td>
                                    <td data-title="Quantity">
                                        <strong class="product-quantity">{{item.qty}}</strong>
                                    </td>
                                    <td data-title="Total">
                                        <span class="amount"><bdi><span>$</span>{{item.qty * item.price}}</bdi></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="checkout-ordertable">
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td data-title="Total" colspan="4"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>{{total}}</bdi></span></strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                    <div class="mt-lg-3 mb-30">
                        <div class="woocommerce-checkout-payment">
                            <ul class="wc_payment_methods payment_methods methods">
                                <li class="wc_payment_method payment_method_cod">
                                    <input id="payment_method_cod" type="radio" class="input-radio" v-model="paymentcheck">
                                    <label for="payment_method_cod">Credit Cart</label>
                                </li>
                            </ul>
                            <div class="form-row place-order">
                                <button @click="order" class="th-btn">下訂</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `,
            data() {
                return {
                    memb: {
                        id: 1,
                        name: "測試",
                        shipaddr: "123",
                        email: "google",
                        phone: "0123456789"
                    },
                    cust: {
                        name: "非會員",
                        shipaddr: "非會員",
                        email: "kiki77",
                        phone: "0979"
                    },
                    payment: "credit",
                    paymentcheck: false,
                    cart: [],
                    checked: false,
                    total: 0
                }
            },
            methods: {
                custDataClear() {
                    if (localStorage.getItem('cart') === null)
                        if (sessionStorage.getItem('cart') === null)
                            this.cust.name = "";
                    this.cust.shipaddr = "";
                    this.cust.email = "";
                    this.cust.phone = "";
                },
                order(event) {

                    if (!this.checked) {
                        const orderData = {
                            status: "未付款",
                            payment: this.payment,
                            name: this.cust.name,
                            email: this.cust.email,
                            tell: this.cust.phone,
                            addr: this.cust.shipaddr,
                            amount: this.total,
                        };
                        insertOrder(orderData);
                    }
                    else {
                        const orderData = {
                            membId: this.memb.id,
                            status: "未付款",
                            payment: this.payment,
                            name: this.memb.name,
                            email: this.memb.email,
                            tell: this.memb.phone,
                            addr: this.memb.shipaddr,
                            amount: this.total,
                        };
                        insertOrder(orderData);
                    }
                }
            },
            mounted() {
                this.cart = JSON.parse(localStorage.getItem("cart"));
                this.total = totalUpdate(this.cart);
                window.accessControl.canAccessCheckout = false;
            },

        }
        const ordercomplete = {
            template: `
            <div class="breadcumb-wrapper " style="background-image:url(assets/img/bg/breadcumb-bg.jpg)">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Checkout</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><router-link to="/">Shops</router-link></li>
                            <li>checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
            `
        }
        const routes = [
            { path: '/views', name: 'views', component: prod_view },
            { path: '/detail/:id', name: 'prod_detail', component: prod_detail },
            { path: '/cart', name: 'cart', component: cart_view },
            { path: '/checkout', name: 'checkout', component: chekcout },
            { path: '/ordercomplete', name: 'ordercomplete', component: ordercomplete },
            { path: '/', redirect: '/views' }
        ];


        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes
        })
        router.beforeEach((to, from, next) => {
            if (to.name === 'checkout' || to.name === 'ordercomplete') {
                if (accessControl.canAccessCheckout) {
                    next();
                } else {
                    alert('請從購物車頁面進行結帳。');
                    next({ name: 'cart' });
                }
            } else {
                next();
            }
        });

        const app = Vue.createApp({})
        app.use(router)
        app.mount('#app')
    </script>

    <!--========= Footer Area 頁尾區 ===========-->
    <div id="footer-wrapper"></div>
    <!-- script 標籤 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#mobile-menu').load('./component/mobile_menu.html');
        $('#sidemenu').load('./component/sidemenu.html');
        $('#header').load('./component/header.html');
        $('#footer-wrapper').load('./component/footer.html');
    </script>
</body>

</html>