<footer class="footer-wrapper">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget_title">Tibame服務</div>
                    <ul>
                        <li><a class="ezTag" href="../destination.html" title="遊輪" target="_blank">遊輪</a></li>
                        <li><a class="ezTag" href="https://reurl.cc/vvGaN1" title="票券活動" target="_blank">klook票券活動</a>
                        </li>
                        <li><a class="ezTag" href="https://activity.eztravel.com.tw/activity/car/" title="國內外租車"
                                target="_blank">國內外租車</a></li>
                        <li><a class="ezTag" href="https://activity.eztravel.com.tw/thsrc/" title="高鐵國旅聯票"
                                target="_blank">高鐵國旅聯票</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">聯絡我們</h3>
                        <div class="th-widget-contact">
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="../assets/img/icon/phone.svg" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="tel:+01234567890" class="info-box_link">0912345678</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon">
                                    <img src="../assets/img/icon/envelope.svg" alt="img">
                                </div>
                                <div class="details">
                                    <p><a href="mailto:support24@tourm.com"
                                            class="info-box_link">support24@tourm.com</a></p>
                                </div>
                            </div>
                            <div class="info-box_text">
                                <div class="icon"><img src="../assets/img/icon/location-dot.svg" alt="img"></div>
                                <div class="details">
                                    <p>104台北市中山區南京東路三段219號4F</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">免責聲明</h3>
                        <span class="footerPrivacy" data-track-action='{"attr":"text"}'
                            data-track-label='{"attr":"href"}'>
                            <a class="ezTag" target="_blank" href="../privacy.html"
                                title="隱私權保護政策及個資聲明">隱私權保護政策及個資聲明</a>
                            <br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="copyright-wrap footer-fixed">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2024 <a href="home-travel.html">Tibame服務</a></p>
                </div>
                <div class="col-md-6 text-end d-none d-md-block">
                    <!-- <div class="footer-card">
                        <span class="title">付款方式</span>
                        <img src="../assets/img/shape/cards.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>