<div class="th-menu-wrapper onepage-nav">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="index.html"><img src="assets/img/logo2.svg" alt="Tourm"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li><a href="home-travel">Home</a></li>
                <li><a href="destination.html">Destination</a></li>
                <!-- TODO  -->
                <li><a href="#">Shop</a></li>
                <!-- <li><a href="error.html">Error Page</a></li> -->
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="my-frontpage.html">Member</a></li>
            </ul>
        </div>
    </div>
</div>
