<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <div v-html="route.dep"></div>
    </div>
    <script type="module">
        const app = Vue.createApp({
            data() {
                return {
                    route: {
                        name: "",
                        price: 0,
                        days: 0,
                        dep: ""
                    }
                }
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                this.route.name = urlParams.get('name');
                this.route.price = urlParams.get('price');
                this.route.days = urlParams.get('days');
                this.route.dep = decodeURIComponent(urlParams.get('dep'));
            },
        })
        app.mount('#app');
    </script>
</body>

</html>